### AL ###
# Template for AL projects for Dynamics 365 Business Central
.vscode/
.alcache/
.alpackages/
.snapshots/
.output/

# Extension App-file
*.app

# Rapid Application Development File
rad.json

# Translation Base-file
*.g.xlf

# License-file
*.flf

# Test results file
TestResults.xml

### Node / Electron ###
node_modules/
dist/
release/
build/

# installers / packaged apps
*.exe
*.dmg
*.AppImage
*.deb
*.rpm
*.zip

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

### Maps ###
css/style.css.map

### OS junk ###
.DS_Store
Thumbs.db