// npm run watch
$blue: rgba(0, 54, 162, 0.5);
$green: rgba(0, 54, 24, 0.8);
$ligt-green: rgba(0, 98, 64, 0.75);
$light-blue: rgba(0, 86, 190, 0.75);
$red: rgba(180, 35, 55, 0.78);
$orange: rgba(214, 118, 0, 0.78);
$black: #222;
$white: #f7f7fb;
$width-screen: min(90rem, 100%);
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family:
    system-ui,
    -apple-system,
    Segoe UI,
    Roboto,
    Arial,
    sans-serif;
  font-size: 1.6rem;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  place-content: center;
  padding: 2rem;
  background: rgba(black, 0.9);

  &::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:
      url("/Ex9MlTC-nature-wallpaper-wallpaper.jpg"),
      linear-gradient($black, $white) no-repeat center/cover;
    z-index: -1;
    filter: blur(1rem);
  }
}
main {
  display: flex;
  // width: $width-screen;

  &--toggle-width {
    width: $width-screen;
  }
}
/* header */
header {
  width: $width-screen;
  min-height: 30rem;
  display: flex;
  color: white;
  background: url("https://images.unsplash.com/photo-1506744038136-46273834b3fb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Y2FsZW5kYXJ8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=800&q=60")
    no-repeat center/cover;
  place-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.2rem;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(118, 118, 118, 0.8), rgba(0, 0, 0, 0.6));
    z-index: 0;
  }
}
.month,
.year {
  display: inline-flex;
  width: 100%;
  justify-content: center;
}
.month {
  font-size: 2.4rem;
  text-transform: uppercase;
  text-shadow: 0.5rem 0.4rem 0.5rem $green;
  opacity: 0.9;
}
.year {
  font-size: 1.4rem;
  opacity: 0.9;
  font-weight: 800;
  text-shadow: 0.5rem 0.4rem 0.5rem $blue;
}
.prev,
.next {
  user-select: none;
  cursor: pointer;
  padding: 1rem 1.4rem;
  border-radius: 1rem;
  font-weight: 600;
  background: linear-gradient(135deg, $green 0%, $blue 100%);
  // box-shadow: 0.3rem 0.1rem 0.5rem rgba(255, 254, 254, 0.393);
  position: absolute;
  transform: translateY(100%);
}
.prev {
  top: 25%;
  left: 0;
}
.next {
  top: 25%;
  right: 0;
}
.prev:hover,
.next:hover {
  filter: brightness(0.97);
}

.current {
  font-weight: 700;
  font-size: 2rem;
  text-align: center;
}

/* calendar shell */
.calendar {
  width: 100%; //$width-screen;
  display: grid;
  place-items: center;

  width: 100%;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 1.6rem;
  box-shadow: 0 1.2rem 3rem rgba(0, 0, 0, 0.08);
  overflow: hidden;
}

/* weekdays row */
.weekdays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  background: linear-gradient(to bottom, $blue 0%, $green 100%);
  gap: 0.8rem;
  width: 100%;
  padding: 1.6rem;
  border-bottom: 1px solid rgba(255, 245, 245, 0.1);
}

.weekday {
  text-align: center;
  font-weight: 800;
  font-size: 1.4rem;
  letter-spacing: 0.04em;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  color: white;
}

/* days grid */
.rows {
  display: grid;
  gap: 0.2rem;
  width: 100%;
}
.row {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 0.2rem;
  padding: 1rem;

  &:not(:last-child) {
    border-bottom: 1px solid rgba(58, 58, 58, 0.1);
  }
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 7rem;
  padding: 1rem 0.5rem;
  text-align: center;
  transition: all 0.2s ease;

  &:hover {
    cursor: pointer;
    background-color: $green;
    color: white;
    opacity: 0.8;
    border-radius: 8px;
  }

  &--empty {
    background: transparent;
    border-color: rgba(0, 0, 0, 0.05);
  }
  &--muted {
    opacity: 0.5;
  }
  &----today {
    outline: 0.2rem solid $blue;
    color: $white;
    background: linear-gradient(135deg, $blue 0%, $green 100%);
    outline-offset: 0.2rem;
    font-weight: 700;
  }
  &--selected {
    background: $black;
    color: $white;
  }
}
.note {
  //hidden on load
  &--title,
  &__date,
  &__textarea,
  .bnyu,
  .button-wrapper {
    display: none;
  }
  &.note--open {
    .note--title,
    .note__date,
    .note__textarea,
    .button-wrapper,
    .bnyu {
      display: block;
    }
  }

  &.note--open .button-wrapper {
    display: flex;
  }

  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightyellow;
  height: fit-content;
  padding: 0;
  padding-bottom: 1rem;

  &--title {
    height: 51.3px;
    padding-top: 1.3rem;
    font-size: 1.6rem;
    text-align: center;
    font-weight: 600;

    background: linear-gradient(to right, $blue 0%, $green 100%);
    background-clip: text;
    color: transparent;
    background-size: 200% auto;
    animation: shine 3s linear infinite;
  }
  @keyframes shine {
    0% {
      background-position: 200% 50%;
    }
    100% {
      background-position: 50% 0%;
    }
  }
  &__textarea {
    display: none;
    width: 90%;
    height: min(20rem, 50vh);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.8rem;
    padding: 1rem;
    font-size: 1.4rem;
    color: grey;
    resize: none;

    &:active,
    &:focus {
      outline: none;
      border-color: $blue;
    }
  }
}
.button-wrapper {
  display: flex;

  gap: 0.2rem;
  margin-top: 1rem;

  button {
    padding: 0.5rem 1rem;
    border-radius: 0.8rem;
    font-weight: 400;
    color: white;
    border: none;
    animation: all 0.2s ease;

    &:hover {
      filter: brightness(0.97);
      cursor: pointer;
      opacity: 0.9;
      transform: scale(1.1);
    }
    &:nth-child(1) {
      background: $light-blue;
    }
    &:nth-child(2) {
      background: $ligt-green;
    }
    &:nth-child(3) {
      background: $red;
    }
  }
}

.bnyu {
  padding-top: 1rem;
  img {
    width: 2.2rem;
    height: 2rem;
    object-fit: cover;
    background-color: pink;
  }
}
