@use "abstracts" as *;

header {
  font-family: $ff-poppins;
  width: 100%;
  min-height: 14rem;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  background-color: $white-card;
  margin-bottom: 0.8rem;
  position: relative;
  border-bottom: 1px solid white;
}

.month,
.year {
}
.month {
  color: $accent-pink;
  font-size: 6rem;
  font-weight: 450;
  letter-spacing: -0.3rem;
  text-transform: uppercase;

  @include respond(phone) {
    font-size: 4rem;
  }
}

.year {
  font-size: 1.4rem;
  opacity: 0.9;
  color: $text-soft;
  font-weight: 600;
}
.prev,
.next {
  cursor: pointer;
  padding: 1rem 1.4rem;
  border-radius: 1rem;
  font-weight: 900;
  color: $accent-pink;
  -webkit-app-region: no-drag;
}
.prev,
.next {
  background: $white-soft; // linear-gradient(to right, $white-soft, $pastel-pink);
}

.prev:hover,
.next:hover {
  color: $accent-blue;
  background-color: $accent-pink;
}
.top-row {
  display: flex;
  align-items: center;
  gap: 0.1rem;
  flex-wrap: wrap;

  img {
    width: 15rem;

    @include respond(phone) {
      width: 10rem;
    }
  }
}
// The date in the middle of header
.current {
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateX(5rem);

  @include respond(tab-port) {
    transform: translateX(2rem);
  }
  @include respond(phone) {
    transform: translateX(0);
  }
}
