@use "abstracts" as *;

header {
  font-family: $ff-poppins;
  width: 100%;
  min-height: 14rem;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  background-color: $white-card;
  margin-bottom: 0.8rem;
  position: relative;
  border-bottom: 1px solid white;
  position: relative; //for bunny
}

.month,
.year {
}
.month {
  color: $accent-pink;
  font-size: 6rem;
  font-weight: 450;
  letter-spacing: -0.3rem;
  text-transform: uppercase;

  @include respond(phone) {
    font-size: 4rem;
  }
}

.year {
  font-size: 1.4rem;
  opacity: 0.9;
  color: $text-soft;
  font-weight: 600;
}
.prev,
.next {
  cursor: pointer;
  padding: 1rem 1.4rem;
  border-radius: 1rem;
  font-weight: 900;
  color: $accent-pink;
  -webkit-app-region: no-drag;
}
.prev,
.next {
  background: $white-soft; // linear-gradient(to right, $white-soft, $pastel-pink);
}

.prev:hover,
.next:hover {
  color: $accent-blue;
  background-color: $accent-pink;
}
// The date in the middle of header
.current {
  font-weight: 700;
  font-size: 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @include respond(phone) {
    margin-right: 5rem;
  }
}

.bnyu {
  img {
    width: 15rem;
    position: absolute;
    left: 64%; // TODO: fix
    bottom: 20%;
    transform: translate(-50%);

    @include respond(tab-land) {
      left: 70%; // TODO: fix mobile
    }
    @include respond(tab-port) {
      left: 75%; // TODO: fix mobile
      width: 14rem;
      bottom: 24%;
    }
    @include respond(phone) {
      left: 66%; // TODO: fix mobile
      width: 12rem;
      bottom: 29%;
    }
  }
}
