@use "abstracts" as *;
// START note (third)
.note {
  display: flex;
  flex-direction: column;
  background-color: $white-card;
  width: 100%;
  max-height: 20rem;
  position: relative;
  gap: 0.5rem;

  &--hidden {
    display: none;
  }

  &__close {
    position: absolute;
    top: 0.6rem;
    right: 0.8rem;
    animation: all 3s ease-in-out;

    &:hover {
      cursor: pointer;
      color: $pastel-pink-2;
      transform: scale(1.2);
    }
  }

  &__textarea {
    display: flex;
    letter-spacing: 0.1rem;
    color: $text-soft;
    font-family: $ff-inter;
    width: 100%;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.8rem;
    padding: 1rem;
    font-size: 1.4rem;
    color: grey;
    resize: none;

    &:active,
    &:focus {
      outline: none;
      border-color: $accent-blue;
    }
  }
}

/* ========== Editing state (textarea) ========== */
.note__editor {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  width: 100%;
  border-radius: $bord-rad;
  background-color: $white-soft;
}

.note__textarea {
  flex: 1;
}

.note__add {
  width: 4rem;
  height: 3.5rem;
  background: $pastel-lavender;
  border-radius: 0.8rem;
  padding: 0.5rem 1rem;
  font-family: $ff-inter;
  color: $white;
  border: none;
  animation: all 0.2s ease;

  &:hover {
    cursor: pointer;
    opacity: 0.6;
  }
}

/* base editing style */
.note__textarea.is-editing {
  color: $accent-pink;
  border: 0.1rem solid rgba($accent-pink, 0.65);
  outline: none;
}

/* animated ring  | WHAT RING? I dont see it?? wat was i trying to do ??*/
.note__textarea.is-editing::after {
  content: "";
  position: absolute;
  inset: -0.45rem;
  border-radius: 1.1rem;
  padding: 0.22rem;

  background: conic-gradient(
    from 0deg,
    rgba($accent-pink, 0) 0 70%,
    rgba($accent-pink, 0.95) 70% 85%,
    rgba($accent-pink, 0) 85% 100%
  );

  -webkit-mask:
    linear-gradient(#000 0 0) content-box,
    linear-gradient(#000 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;

  animation: spin 1.4s linear infinite;
  pointer-events: none;
  filter: blur(0.2px); // tiny smoothness
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
